<article>
  <h2>{{= article.title }}</h2>
  <span class="pubTime">{{= article.pubTime }}</span>
  <span class="author">{{= article.author }}</span>
  <div class="contents">{{= article.contents }}</div>
</article>